select {
  display: inline-block;
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:white;
  border-color: #3D80CC;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  padding:12px;
  width:auto;
  font-family:arial,tahoma;
  font-size:16px;
  font-weight:bold;
  color:black;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:2px;
  appearance: none;
  transition:0.3s ease all;
}


input[type=text] {
  display: inline-block;
  padding: 10px;
  width: 250px;
  background-color: #FFFFFF;
  border-radius: 2px;
  margin: 10px auto;
}

