.select {
  display: table-cell;
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  padding: 0.5rem;
  background-color:white;
  border-color: #3D80CC;
  background-repeat:no-repeat;
  background-position: right 10px top 10px;
  background-size: 16px 16px;
  width:100%;
  font-size:16px;
  color: #3D80CC;
  appearance: none;
  margin-bottom: 1.5em;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}
.error {
  border-color: red;
}
.label {
  font-weight: bold;
  margin-right: 20em;
}
.error .label {
  color: red;
}
.input-feedback {
  color: #999;
}
.error {
  color: red;
  margin-top: -1.5em;
  line-height: 1.5;
}
p {
  display: table-row;
}
label {
  display: table-cell;
}
input {
  display: table-cell;
  margin-bottom: 1.5em;
}
