* {
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}
form {
  display: table;
}
