input[type=text] {
  display: inline-block;
  background-color:white;
  border-color: #3D80CC;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  padding:12px;
  width:auto;
  font-family:arial,tahoma;
  font-size:16px;
  color:black;
  border-radius:2px;
  appearance: none;
  transition:0.3s ease all;
}
