body {
  background-color: #fcfcfc;
}
.base-container-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 841px;
  height: 567px;
  background-color: #eeeeee;
  border-radius: 3px;
}
.title-container {
  width: 841px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.title {
  color: #3d80cc;
  font-family: Sans-serif;
  font-size: 20px;
  font-weight: 800;
}
.main-data-container {
  display: flex;
  width: 50%;
  height: 75%;
  max-height: 75%;
  border: 1px solid red;
}
.left-container {
  flex: 0 1 50%;
  min-height: 100%;
  max-width: 50%;
  border: 1px solid red;
  background: #0bda51;
  padding: 0.5em;
}
.right-container {
  flex: 0 1 50%;
  display: flex;
  height: 100%;
  max-width: 50%;
  flex-wrap: wrap;
  align-items: flex-start;
}
.half-containers {
  flex: 0 0 100%;
  max-height: 50%;
  min-height: 50%;
  max-width: 100%;
  background: #0bda51;
  border: 1px solid red;
  padding: 0.5em;
  overflow: hidden;
}
